<div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12 form-design">
        <form #frmUsuario="ngForm" (ngSubmit)="onSubmit()">  
            <div class="row">
                <div class="jumbotron" style="display:inline;">
                    <div class="col-md-12">
                        <h1 style="float: left;" class="jtitle">Green Leaves</h1>
                        <img style="float: right;" width="100" src="./assets/img/sheet.png">        
                    </div>
                                     
                </div>
            </div><br>

            <div class="row">
                <div class="col-md-12">
                    Nombre:<input type="text" name="Nombre" #Nombre="ngModel" [(ngModel)]="usuario.Nombre" class="form-control" required />
                    <span *ngIf="Nombre.touched && !Nombre.valid" class="alert-danger">¡Nombre Obligatorio!</span>
                </div>
            </div><br>
        
            <div class="row">
                <div class="col-md-12">
                    E-mail:<input type="Email" name="Email" #Email="ngModel" [(ngModel)]="usuario.Email" class="form-control" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required />
                    <span *ngIf="Email.touched && !Email.valid" class="alert-danger">¡Email Incorrecto ej.: usuario@dominio.extension!</span>
                </div>
            </div><br>
        
            <div class="row">
                <div class="col-md-12">
                    Teléfono:<input type="text" name="Telefono" #Telefono="ngModel" [(ngModel)]="usuario.Telefono" class="form-control" pattern="^(\+\d{1,2}\s)?((\(\d{3}\))|(\d{3}))[\s.-]\d{3}[\s.-]\d{4}$" required />
                    <span *ngIf="Telefono.touched && !Telefono.valid" class="alert-danger">¡Telefono Incorrecto ej. : 000-000-0000 ó 000 000 0000!</span>
                </div>
            </div><br>
        
            <div class="row">
                <div class="col-md-12">
                    Fecha:<input type="date" name="Fecha" #Fecha="ngModel" [(ngModel)]="usuario.Fecha" class="form-control" required />
                    <span *ngIf="Fecha.touched && !Fecha.valid" class="alert-danger">¡Fecha Incorrecto!</span>
                </div>
            </div><br>
            
            <div class="row">
                <div class="col-md-12">
                    Ciudad y Estado:
                    <!-- <input type="text" name="CiudadEstado" #CiudadEstado="ngModel" [(ngModel)]="usuario.CiudadEstado" class="form-control" required />  -->
                    <select name="CiudadEstado" #CiudadEstado="ngModel" [(ngModel)]="usuario.CiudadEstado" class="form-control" required>
                        <option *ngFor="let ciudad of ciudades" value="{{ciudad.Value}}">
                            {{ciudad.Description}}
                        </option>
                    </select>
                    <span *ngIf="CiudadEstado.touched && !CiudadEstado.valid" class="alert-danger">¡CiudadEstado Incorrecto!</span> 
                </div>
            </div><br>
            
            <div class="row">
                <div class="col-md-12">
                    <input class="btn btn-success" type="submit" value="Enviar" [disabled]="!frmUsuario.valid"/>
                </div>
            </div>
        </form>
    </div>
</div>



